.logo {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 200px;
  padding: 0px;
  margin: 0 auto;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  background-color: #ffffff;
  width: 350px;
  padding: 30px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}

.login-container h2 {
  font-size: 28px;
  color: #233864;
  margin: 0 0 10px 0;
}

.login-container p {
  font-size: 14px;
  color: #666666;
  margin-bottom: 25px;
}

.form-group label {
  font-size: 14px;
  color: #333333;
}

.form-group input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #dcdcdc;
  background-color: #fafafa;
  font-size: 14px;
  border-radius: 8px;
}

.form-group input:focus {
  border-color: #070e40;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #242a55;
  color: #ffffff;
  border: none;
  font-size: 16px;
  border-radius: 8px;
  margin: 0 ;
}

button:hover {
  background-color: #3f4576;
}